.header {
    position: relative;
    height: 100px;
    background: #ccc;
    .nav {
        position: absolute;
        right: 20px;
        top: 20px;
        li {
            display: inline-block;
            background: #999;
            border-radius: 5px;
            margin: 5px;
            padding: 5px 10px;
        }
    }
}